.search-results-single__author {
    color: $white;
    margin: 1rem 0;
    @media only screen and (max-width: 800px) {
       margin: 0.5rem 0;
    }
}

.no-results-container {
    text-align: center;
    color: $white;
  &__title {
      margin: 2rem 0;
  }
}

#searchsubmit {
    -webkit-appearance: none;
}

.search-overlay-container {
 position: fixed;
 top: 0%;
 left: 0%;
 z-index: 10;
 background-color: rgba($white, 0.9);
 width: 100%;
 min-height: 100%;
 display: none;
transition: 300ms;
}

.search-field {
    border: 0;
    outline: 0;
    border-bottom: 1px solid darkcyan;
    width: 80%;
    padding-bottom: 12px;
    background: none;
    color: $black;
    font-family: $roboto;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.83px;
    // line-height: 16px;
    -webkit-appearance: none;
    margin-top: 8rem;
    margin-left: 2rem;
    @media only screen and (max-width: 800px) {
       font-size: 25px;
       padding-bottom: 1px;
      }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        padding-top: 1rem;
      }
      &::placeholder {
          color: $black;
      }
}

.search-submit {
    border: 0;
    outline: 0;
    background:none;
    height: 28px;
    &::after {
        content: url('../img/down-arrow.svg');
        height: 28px;
        width: 100%;
        cursor: pointer;
        margin-left: -3rem;
    }
}

.search-close {
    height: 1rem;
    display: block;
    margin-left: auto;
    margin-top: 4.4rem;
    margin-right: 5.3rem;
    cursor: pointer;
    @media only screen and (max-width: 800px) {
        margin-right: 2rem;
        margin-top: 7rem;
       }
}

.search-icon-mobile {
    display: none;
    @media only screen and (max-width: 800px) {
        display: block;
        height: 1.2rem;
        cursor: pointer;
       }
}

.popular-search-terms {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    li {
        margin-right: 2rem;
        margin-bottom: 1rem;
        color: $blue;
        border: 0.75px solid $blue;
        padding: 0.4rem 0.9rem;
        font-size: 1.2rem;
    }
    &__title {
        margin: 2rem 0;
        margin-left: 2rem;
        font-size: 1.5rem;
    }
}
